.input-group-text{
    background-color: white !important;
    border-right:none !important;
}
.message{
    align-items: flex-start !important;
}
.form-control{
    border-left: none!important;
}
.input-group-prepend{

    border-right: 1px  dashed #ced4da !important;
z-index: 2;
}
.fa-comment-alt{
    margin-top: 7px;
}
.fas{
    color: #ced4da;
}
.block{
    border: 1px  solid black;
    border-radius: 5px;
    margin-top: 100px;
    box-sizing: border-box;
    width: 500px;
    background-color: white;
}
.offer{
    text-align: center;
    font-size: 35px;
        color:#585454;
    font-weight: normal;
}
.descrioption{
    width: 100%;
    color:#585454;
    border-bottom: 1px  solid black;
    font-size: 15px;
    margin-bottom: 40px;
}
body{
    background-image: url(../images/big.jpg) !important;
    background-size: 100%;
}